# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Environment
.env
.env.*
venv/
env/

# Django
db.sqlite3
media/
staticfiles/

# Secrets
*.key

# Docker
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db